<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<!--L'icone image:view-compact se trouve dans la bibliothèque d'icone "image", je dois l'importer en supplément-->
<link rel="import" href="../bower_components/iron-icons/image-icons.html">
<!--L'icone editor:insert-drive-file se trouve dans la bibliothèque d'icone "editor", je dois l'importer en supplément-->
<link rel="import" href="../bower_components/iron-icons/editor-icons.html">
<link rel="import" href="../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/app-layout/app-layout.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<script src="../bower_components/es6-relax-ng/demo/js/traceur-runtime.js"></script>

<link rel="import" href="nodes/nodesloader.html">
<link rel="import" href="catalogbar/catalogbar-el.html">
<link rel="import" href="board/board-el.html">

<dom-module id="editor-el">
    
  <template strip-whitespace>

      <style>
        app-header {
          background-color: hsl(217,89%,61%);/*#4285f4;*/ color: hsl(0, 0%, 100%); /*#fff;*/
        }
        app-header paper-icon-button { --paper-icon-button-ink-color: hsl(0, 0%, 100%); /*#fff;*/ }
        
        app-drawer-layout {
          --app-drawer-layout-content-transition: margin 0.2s;
          --app-drawer-width: 170px;
        }
        app-drawer {
          --app-drawer-content-container: {
            background-color: hsl(217,72%,75%); /*#4285f4;*/ /*#eee;*/
          }
          --app-drawer-width: 170px;
        }

        .drawer-content {
          margin-top: 100px; height: calc(100% - 80px);
          overflow: auto;
        }

        #centralArea {
          display:flex;
        }
        #sidemarkDiv {
          display: inline-flex;
          margin-left: -16px;
          background-color: hsl(217, 72%, 75%); /*#4285f4;*/
        }
        #boardDiv {
          flex: 1;
        }

        #boardDiv {
          background-color: hsl(0, 0%, 100%); /*#ffffff;*/
          padding: 8px;
        }

        .menuOption {
          margin-right: 5px;
          padding-right: 10px;
          background-color: hsla(0,100%,100%,0.2);
          cursor: pointer;
        }
      </style>


      <app-header-layout>

        <app-header fixed effects="waterfall" slot="header">
          <app-toolbar>
            <span id="loadIconDiv" class="menuOption"><paper-icon-button id="loadIcon" icon="icons:folder"></paper-icon-button> Load</span>
            <span id="saveIconDiv" class="menuOption"><paper-icon-button id="saveIcon" icon="icons:save"></paper-icon-button> Save</span>
            <span id="pdfIconDiv" class="menuOption"><paper-icon-button id="pdfIcon" icon="editor:insert-drive-file"></paper-icon-button> Export as pdf</span>
            <span id="printIconDiv" class="menuOption"><paper-icon-button id="printIcon" icon="icons:print"></paper-icon-button> Print</span>
          </app-toolbar>
        </app-header>

        <app-drawer-layout id="drawerLayout">

          <app-drawer slot="drawer">
            <div class="drawer-content">
              <catalogbar-el selected="{{selected}}"></catalogbar-el>
            </div>
          </app-drawer>

          <div id="centralArea">
            <div id="sidemarkDiv"><paper-icon-button id="sideMarkIcon" icon="image:view-compact"></paper-icon-button></div>
            
            <div id="boardDiv"><board-el id="board" selected="{{selected}}"></board-el></div>
          </div>

        </app-drawer-layout>

      </app-header-layout>

      <paper-dialog id="deleteDialog" modal>
        <h2>Attention !</h2>
        <p>Vous êtes sur le point de supprimer un élément, confirmez-vous ?</p>
        <div class="buttons">
          <paper-button dialog-dismiss autofocus>Annuler</paper-button>
          <paper-button id="deleteBtnConfirm" dialog-confirm>Valider</paper-button>
        </div>
      </paper-dialog>

      <paper-dialog id="recursiveDeleteDialog" modal>
        <h2>Attention !</h2>
        <p>Vous êtes sur le point de supprimer RECURSIVEMENT des éléments, confirmez-vous ?</p>
        <div class="buttons">
          <paper-button dialog-dismiss autofocus>Annuler</paper-button>
          <paper-button id="recursiveDeleteBtnConfirm" dialog-confirm>Valider</paper-button>
        </div>
      </paper-dialog>

      <paper-toast id="saveToast" text="Saved in [[addressCurrentDoc]]"></paper-toast>

      <paper-dialog id="failedRelaxNGValidationDialog" modal>
        <h2>Attention !</h2>
        <p>Le fichier que vous essayez de charger ne semble pas correspondre au format voulu par l'application</p>
        <div class="buttons">
          <paper-button dialog-dismiss autofocus>Compris</paper-button>
        </div>
      </paper-dialog>

    </template>

</dom-module>

<script>
    Polymer({
        is: "editor-el",

        properties: {
          selected: {
            type: Number,
            value: 0,
            notify: true,
            reflectToAttribute: true
          },
          addressCurrentDoc: {
            type: String
          }
        },

        listeners: {
          'deleteBtnConfirm.tap': '_confirmDeleteANode',
          'recursiveDeleteBtnConfirm.tap': '_confirmRecursiveDeleteANode'
        },

        attached: function(){
          let that = this;

          loadIconDiv.addEventListener('click', function(){

            const dialog = require('electron').remote.dialog;
            dialog.showOpenDialog(
              {
                filters: [
                    {name: 'XML File', extensions: ['xml']}
                ],
                properties: ['openFile']
              }, 
              function(files){
                try {
                  that.openAFile(that, files[0]);
                    /*var fs = require('fs');
                    fs.readFile(files[0], 'utf-8', (err, data)=>{
                      let parser = new DOMParser();
                      let xmlDoc = parser.parseFromString(data,"text/xml");

                      let fileFormat = xmlDoc.getElementsByTagName("file-format")[0];
                      if(fileFormat == undefined){  }//throw exception

                      
                    })*/
                    
                } catch(err) {

                }
              }
            );

          });

          saveIconDiv.addEventListener('click', function(){
            if(that.addressCurrentDoc == undefined){
              try {
                  const dialog = require('electron').remote.dialog;
                  dialog.showSaveDialog(
                    {
                      filters: [
                        {name: 'XML File', extensions: ['xml']}
                      ]
                    },
                    (fileFullPath)=>{
                      that.addressCurrentDoc = fileFullPath;
                      that.saveAFile(that, that.addressCurrentDoc);
                    }
                  )
              } catch(err) {

              }
            }
            else {
              try {
                  that.saveAFile(that, that.addressCurrentDoc);
              } catch(err) {
                   
              }
            }
            
          });

          pdfIconDiv.addEventListener('click', function(){

          });

          printIconDiv.addEventListener('click', function(){

          });


          let drawerLayout = document.getElementById('drawerLayout');
          sideMarkIcon.addEventListener('click', function() {
            if (drawerLayout.forceNarrow || !drawerLayout.narrow) {
              drawerLayout.forceNarrow = !drawerLayout.forceNarrow;
            } else {
              drawerLayout.drawer.toggle();
            }
          });

          this.addEventListener('askDeleteThisNode', this._askDeleteANode);
          this.addEventListener('askDeleteRecursiveThisNode', this._askRecursiveDeleteANode);
        },


        _askDeleteANode: function(event){
          $(this.$.deleteBtnConfirm).data('targetNodeToDelete', event.detail.thisOne);
          (this.$.deleteDialog).open();
        },
        _askRecursiveDeleteANode: function(event){
          $(this.$.recursiveDeleteBtnConfirm).data('targetNodeToRecursiveDelete', event.detail.thisOne);
          (this.$.recursiveDeleteDialog).open();
        },

        _confirmDeleteANode: function(event){
          let nodeToDelete = $(event.srcElement).data('targetNodeToDelete');
          nodeToDelete.delete();
        },
        _confirmRecursiveDeleteANode: function(event){
          let nodeToRecursiveDelete = $(event.srcElement).data('targetNodeToRecursiveDelete');
          nodeToRecursiveDelete.recursiveDelete();
        },


        saveAFile: function(that, fileFullPath){
          const fs = require('fs');
          var content = board.stringifyCurrentStateToXml();
          console.log(content);
          fs.writeFile(fileFullPath, content, function(err){

          });
          that.$.saveToast.open();
        },

        openAFile: function(that, fileFullPath){

          require("amd-loader");

          const sch = require('../bower_components/es6-relax-ng/demo/dist/class/ng-schema');
          const patt = require('../bower_components/es6-relax-ng/demo/dist/class/ng-pattern');
          const core = require('../bower_components/es6-relax-ng/demo/dist/core');
          const col = require('../bower_components/es6-relax-ng/demo/dist/class/ng-collection');
          const dom = require('../bower_components/es6-relax-ng/demo/dist/class/ng-dom');

            core.getXML('./relax-ng-schemas/schema_003.rng').then(function (xml) {

              try {
                var schema = new sch.NgSchema(xml);
                schema.simplify();
                var pattern = new patt.NgPattern(schema);
                var collection = new col.NgCollection(pattern);

                core.getXML(fileFullPath).then(function (xmlfile) {//'./relax-ng-schemas/testOutput.xml'

                  try {
                    collection.collect(new dom.NgDOM(xmlfile));
                  } catch (e) {
                    console.log('collection error', e);
                    that.openAFileFailure(that);
                  }

                  var collected = [];

                  collection.collection.forEach(function(item) {
                      collected.push({
                          className: item.className,
                          errorClassName: item.errorClassName,
                          message: item.message
                      });
                  });

                  console.log(collected);
                  if(collected.length != 0){
                    //The file failed at validation
                    that.openAFileFailure(that);
                  }
                  else {
                    that.openAFileSuccess(that, fileFullPath);
                  }
                }, function(xhr) {
                  console.log('error', xhr);
                  that.openAFileFailure(that);
                });

              } catch (e) {
                console.log(e);
                that.openAFileFailure(that);
              }
              
            }, function(xhr) {
              console.log('error', xhr);
              that.openAFileFailure(that);
            });

        },

        openAFileSuccess: function(that, fileFullPath){
          that.addressCurrentDoc = fileFullPath;

          //Charger en mémoire ICI
          var fs = require('fs');
          fs.readFile(fileFullPath, 'utf-8', (err, data)=>{
            let parser = new DOMParser();
            let xmlDoc = parser.parseFromString(data,"text/xml");

            /*let mainSection = $(xmlDoc.getElementsByTagName("custom-tabs-pages")[0].outerHTML).get( 0 );
            let recordSection = $(xmlDoc.getElementsByTagName("custom-tabs-pages")[1].outerHTML).get( 0 );
            let functionSection = $(xmlDoc.getElementsByTagName("custom-tabs-pages")[2].outerHTML).get( 0 );
            let procedureSection = $(xmlDoc.getElementsByTagName("custom-tabs-pages")[3].outerHTML).get( 0 );*/

            let mainSection = xmlDoc.getElementsByTagName("custom-tabs-pages")[0];
            let recordSection = xmlDoc.getElementsByTagName("custom-tabs-pages")[1];
            let functionSection = xmlDoc.getElementsByTagName("custom-tabs-pages")[2];
            let procedureSection = xmlDoc.getElementsByTagName("custom-tabs-pages")[3];


            that.$.board.loadTheNewState(mainSection, recordSection, functionSection, procedureSection);
          });
        },
        openAFileFailure: function(that){
          //Si on arrive ici, c'est que la validation à échouée
          (that.$.failedRelaxNGValidationDialog).open();
        }

    });
</script>