<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel='import' href="../../_styles/shared-input-style.html">
<link rel='import' href="../_styles/shared-bracket-style.html">
<link rel='import' href="../_styles/shared-drag-effect-style.html">
<link rel='import' href="../_styles/shared-dropzoneafter-style.html">
<link rel='import' href="../_styles/shared-enclosure-el-style.html">
<link rel='import' href="../_styles/shared-closingline-style.html">

<link rel='import' href="../_behaviors/draggable-behavior.html">
<link rel='import' href="../_behaviors/dropafter-common-behavior.html">
<link rel='import' href="../_behaviors/enclosure-el-behavior.html">
<link rel='import' href="../_behaviors/context-menu-dropzoneafter-behavior.html">
<link rel='import' href="../_behaviors/context-menu-dropzoneinside-behavior.html">
<link rel='import' href="../_behaviors/context-menu-wholecomponent-behavior.html">
<link rel='import' href="_behaviors/conditions-context-menu-suppl-behavior.html">
<link rel='import' href="../_behaviors/recursivestringify-incl-common-behavior.html">
<link rel='import' href="../_behaviors/alldelete-common-behavior.html">

<dom-module id="condition-node">

    <style include="shared-input-style"></style>
    <style include="shared-bracket-style"></style>
    <style include="shared-drag-effect-style"></style>
    <style include="shared-dropzoneafter-style"></style>
    <style include="shared-enclosure-el-style"></style>
    <style include="shared-closingline-style"></style>
    
    <template strip-whitespace>
        <div id="topMostDiv">
          <div id="surroundingDiv" on-down="handleDown" on-track="handleTrack" on-up="handleUp" class$="{{computeClass(isDragged)}}">    
            <div id="contentDiv">
                
                <span>If ( <input value="{{conditionExpression::input}}" placeholder="Conditionnal expression"> )</span>

                <!--////////// Enclosure element ///////////-->
                <div id="dropZone"></div>
                <div id="enclosureDiv">
                  <content id="lightdom" select="assignment-node, comment-node, vardecl-node, condition-node, else-separator, read-node, write-node, loop-node, functcall-node, proccall-node"></content>
                </div>
                <!--////////////////////////////////////////-->
                
                <div id="closingLine"></div>

            </div>

          </div>

          <div id="dropZoneAfter"></div>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: "condition-node",
        behaviors: [
          DraggableBehavior, DropAfterCommonBehavior, EnclosureElBehavior, 
          ContextMenuDropZoneAfterBehavior, ContextMenuDropZoneInsideBehavior,
          ContextMenuWholeComponentBehavior,
          RecursiveStringifyInclCommonBehavior, 
          AllDeleteCommonBehavior, ConditionsContextMenuSupplBehavior
        ],

        properties: {
          conditionExpression: { type: String, reflectToAttribute: true },
          identity: { type: String, reflectToAttribute: true }
        },

        ready: function(){
          //Decodage des propiétés correspondantes aux champs input encodées pour protéger le XML
          if(this.conditionExpression != undefined){ this.conditionExpression = he.decode(this.conditionExpression); }
        },

        attached: function(){
          switch(this.identity){
            case "if":
              this.toIf();
              break;
            case "ifelse":
              //Verifier si il n'y a pas déjà un séparateur else (quand on charge depuis un fichier enregistré, par exemple)
              this.toIfElse();
              break;
            default:
              //si ce n'est ni l'un ni l'autre, alors lever une exception
          }
          //Ceci permet de faire en sorte que tout les inputs texte se resizent en fonction du 
          //texte que l'on tappe dedans.
          let listOfInputs = this.querySelectorAll('input');
          for(let input of listOfInputs){
            autosizeInput(input);
          }
        },
        
        lookingForElseSeparator: function(){
          let elseSeparator = undefined;
          for (let i=0; i<Polymer.dom(this).children.length; i++){
            if(Polymer.dom(this).children[i].localName == "else-separator"){
              elseSeparator = Polymer.dom(this).children[i];
            }
          }
          return elseSeparator;
        },

        toIf: function(){
          //BIZARRE BIZARRE le if fait sa recherche également dans ses petits-enfants et ça, ca
          //m'arrange pas, alors je fais mon propre algorithme de fouille des enfants light-dom.
          //Voir plus bas.
          /*let elseSeparator = Polymer.dom(this).querySelector("else-separator");
          if(elseSeparator != undefined){
            Polymer.dom(this).removeChild(elseSeparator);
          }
          this.identity == "if";*/

          let elseSeparator = this.lookingForElseSeparator();
          if(elseSeparator != undefined){
            Polymer.dom(this).removeChild(elseSeparator);
          }
          this.identity == "if";
        },

        toIfElse: function(){
          //BIZARRE BIZARRE le if fait sa recherche également dans ses petits-enfants et ça, ca
          //m'arrange pas, alors je fais mon propre algorithme de fouille des enfants light-dom.
          //Voir plus bas.
          /*let elseSeparator = Polymer.dom(this).querySelector("else-separator");
          if(elseSeparator == undefined){
            elseSeparator = $('<else-separator></else-separator>').get( 0 );
            Polymer.dom(this).appendChild(elseSeparator);
          }
          this.identity == "ifelse";*/

          let elseSeparator = this.lookingForElseSeparator();
          if(elseSeparator == undefined){
            elseSeparator = $('<else-separator></else-separator>').get( 0 );
            Polymer.dom(this).appendChild(elseSeparator);
          }
          this.identity == "ifelse";
        },


        //Le simpleStringify traduit uniquement l'élément avec ses attributs en XML, PAS SES ENFANTS.
        simpleStringify: function(){
          let simpleStringify = `<condition-node condition-expression="${(he.encode(this.conditionExpression == undefined ? '' : this.conditionExpression))}" identity="${(this.identity == undefined ? '' : this.identity)}"></condition-node>`;
          return simpleStringify;
        },

        //Pour condition-node, on doit overrider delete parce qu'on doit supprimer aussi le séparateur else si on est dans 
        //le cas d'un ifElse, sinon celui-ci se retrouvera dans le parent avec le reste du contenu de condition-node.
        delete: function(){
          //BIZARRE BIZARRE le if fait sa recherche également dans ses petits-enfants et ça, ca
          //m'arrange pas, alors je fais mon propre algorithme de fouille des enfants light-dom.
          //Voir plus bas.
          /*let elseSeparator = Polymer.dom(this).querySelector("else-separator");
          if(elseSeparator != undefined){
            Polymer.dom(this).removeChild(elseSeparator);
          }*/

          let elseSeparator = this.lookingForElseSeparator();
          if(elseSeparator != undefined){
            Polymer.dom(this).removeChild(elseSeparator);
          }

          let parent = Polymer.dom(this).parentNode;
          //Quand on va supprimer le noeud, on doit prendre les enfants du noeud est les donner au parent du noeud
          //pour éviter qu'il soit supprimer avec le noeud.
          //Il nous faut ainsi insérer les enfants du noeud dans le parent à l'emplacement du noeud qui va disparaitre.
          //Nous utilisons donc insertBefore(beforeThisOne) et nous devons déterminer le beforeThisOne.
          //Si il n'y a pas de nextElementSibling, il retourne null. Mais il est possible que ça pose problème avec "null", 
          //alors je le convertie en undefined.
          let beforeThisOne = Polymer.dom(this).nextElementSibling;
          if( beforeThisOne == null ){ beforeThisOne = undefined; }

          if( beforeThisOne != undefined ) {
            for( let child of Polymer.dom(this).children ) {
              Polymer.dom(parent).insertBefore(child, beforeThisOne);
            }
          }
          else {
            for( let child of Polymer.dom(this).children ) {
              Polymer.dom(parent).appendChild(child);
            }
          }

          Polymer.dom(parent).removeChild(this);

          Polymer.dom.flush();
        }

    });
</script>