<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel='import' href="../../_styles/shared-input-style.html">
<link rel='import' href="../_styles/shared-drag-effect-style.html">
<link rel='import' href="../_styles/shared-dropzoneafter-style.html">

<link rel='import' href="../_behaviors/draggable-behavior.html">
<link rel='import' href="../_behaviors/dropafter-common-behavior.html">
<link rel='import' href="../_behaviors/context-menu-dropzoneafter-behavior.html">
<link rel='import' href="../_behaviors/context-menu-wholecomponent-behavior.html">
<link rel='import' href="../_behaviors/recursivestringify-flat-common-behavior.html">
<link rel='import' href="../_behaviors/alldelete-common-behavior.html">

<dom-module id="vardecl-node">

    <style include="shared-input-style"></style>
    <style include="shared-drag-effect-style"></style>
    <style include="shared-dropzoneafter-style"></style>
    
    <template strip-whitespace>
        <div id="topMostDiv">
          <div id="surroundingDiv" on-down="handleDown" on-track="handleTrack" on-up="handleUp" class$="{{computeClass(isDragged)}}">
            <div id="contentDiv">
                
                <template is="dom-if" if="[[!isRecordDescript(identity)]]">
                  <span>Var&#32;</span>
                </template>
                <span><input value="{{variableName::input}}" placeholder="Variable name"> : <input value="{{variableType::input}}" placeholder="Variable type"></span>
                
            </div>
          </div>
          
          <div id="dropZoneAfter"></div>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: "vardecl-node",
        behaviors: [
          DraggableBehavior, DropAfterCommonBehavior, 
          ContextMenuDropZoneAfterBehavior, ContextMenuWholeComponentBehavior,
          RecursiveStringifyFlatCommonBehavior, AllDeleteCommonBehavior
        ],

        properties: {
          variableName: { type: String, reflectToAttribute: true },
          variableType: { type: String, reflectToAttribute: true },
          identity: { type: String, reflectToAttribute: true }
        },

        attached: function(){
          //Ceci permet de faire en sorte que tout les inputs texte se resizent en fonction du 
          //texte que l'on tappe dedans.
          let listOfInputs = this.querySelectorAll('input');
          for(let input of listOfInputs){
            autosizeInput(input);
          }
        },

        //Pourquoi mettre identity comme paramètre et pas simplement faire un this.identity dans
        //la méthode ? Tout simplement parce que ca ne marche pas. Il est probable que le contexte 
        //d'appel de la méthode via template dom-if ne soit pas celui de notre this (l'objet polymer 
        //qu'on est définit ici).
        isRecordDescript: function(identity){ 
          switch(identity){
            case "variable": 
              return false;
            case "recorddescript":
              return true;
            default:
              //aucune des valeurs précédement citées, alors lever une exception
          }
        },


        //Le simpleStringify traduit uniquement l'élément avec ses attributs en XML, PAS SES ENFANTS.
        simpleStringify: function(){
          let simpleStringify = `<vardecl-node 
                                    variable-name="${(this.variableName == undefined ? '' : this.variableName)}" 
                                    variable-type="${(this.variableType == undefined ? '' : this.variableType)}"
                                    identity="${(this.identity == undefined ? '' : this.identity)}">
                                 </vardecl-node>`;
          return simpleStringify;
        }
        
    });
</script>