<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel='import' href="../../_styles/shared-input-style.html">
<link rel='import' href="../../_styles/shared-textarea-style.html">
<link rel='import' href="../_styles/shared-drag-effect-style.html">
<link rel='import' href="../_styles/shared-dropzoneafter-style.html">
<link rel='import' href="_styles/shared-subprog-arrowrect-style.html">

<link rel='import' href="../_behaviors/draggable-behavior.html">
<link rel='import' href="../_behaviors/dropafter-common-behavior.html">
<link rel='import' href="../_behaviors/context-menu-dropzoneafter-behavior.html">
<link rel='import' href="../_behaviors/context-menu-wholecomponent-behavior.html">
<link rel='import' href="../_behaviors/recursivestringify-flat-common-behavior.html">
<link rel='import' href="../_behaviors/alldelete-common-behavior.html">

<dom-module id="proccall-node">

    <style include="shared-input-style"></style>
    <style include="shared-textarea-style"></style>
    <style include="shared-drag-effect-style"></style>
    <style include="shared-dropzoneafter-style"></style>
    <style include="shared-subprog-arrowrect-style"></style>

    <style>
        #bottomStraightArrowImg {
            display: inline-flex;
        }
        #bottomStraightArrowImg div {
            height: 100%;
            display:flex;
            align-items: flex-start;
        }
    </style>
    
    <template strip-whitespace>
        <div id="topMostDiv">
          <div id="surroundingDiv" on-down="handleDown" on-track="handleTrack" on-up="handleUp" class$="{{computeClass(isDragged)}}">
            <div id="contentDiv">

                <div class="straightArrowParams">
                  <div id="topStraightArrowImg">
                      <div><img class="imgStraightArrow" src="../../../images/nodes/StraightArrowParams_1.4.svg"/></div>
                  </div>
                  <div class="textListOfParams">
                      <textarea value="{{listInputParameters::input}}" rows="1" cols="28" placeholder="List of parameters"></textarea>
                  </div>
                </div>
                            
                <div class="centralRect">
                    <span><input value="{{nameOfProcedCalled::input}}" placeholder="Name of the procedure called"></span>
                </div>

                <div class="straightArrowParams">
                  <div id="bottomStraightArrowImg">
                      <div><img class="imgStraightArrow" src="../../../images/nodes/StraightArrowParams_1.4.svg"/></div>
                  </div>
                  <div class="textListOfParams">
                      <textarea value="{{listOutputParameters::input}}" rows="1" cols="28" placeholder="List of parameters"></textarea>
                  </div>
                </div>

            </div>
          </div>
        
          <div id="dropZoneAfter"></div>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: "proccall-node",
        behaviors: [
          DraggableBehavior, DropAfterCommonBehavior, 
          ContextMenuDropZoneAfterBehavior, ContextMenuWholeComponentBehavior,
          RecursiveStringifyFlatCommonBehavior, AllDeleteCommonBehavior
        ],

        properties: {
          listInputParameters: { type: String, reflectToAttribute: true },
          nameOfProcedCalled: { type: String, reflectToAttribute: true },
          listOutputParameters: { type: String, reflectToAttribute: true }
        },

        ready: function(){
          //Decodage des propiétés correspondantes aux champs input encodées pour protéger le XML
          if(this.listInputParameters != undefined){ this.listInputParameters = he.decode(this.listInputParameters); }
          if(this.nameOfProcedCalled != undefined){ this.nameOfProcedCalled = he.decode(this.nameOfProcedCalled); }
          if(this.listOutputParameters != undefined){ this.listOutputParameters = he.decode(this.listOutputParameters); }
        },

        attached: function(){
          //Ceci permet de faire en sorte que tout les inputs texte se resizent en fonction du 
          //texte que l'on tappe dedans.
          let listOfInputs = this.querySelectorAll('input');
          for(let input of listOfInputs){
            autosizeInput(input);
          }
          let listOfTextAreas = this.querySelectorAll('textarea');
          for(let textarea of listOfTextAreas){
            autosizeArea(textarea);
          }
        },


        //Le simpleStringify traduit uniquement l'élément avec ses attributs en XML, PAS SES ENFANTS.
        simpleStringify: function(){
          let simpleStringify = `<proccall-node list-input-parameters="${(he.encode(this.listInputParameters == undefined ? '' : this.listInputParameters))}" name-of-proced-called="${(he.encode(this.nameOfProcedCalled == undefined ? '' : this.nameOfProcedCalled))}" list-output-parameters="${(he.encode(this.listOutputParameters == undefined ? '' : this.listOutputParameters))}"></proccall-node>`;
          return simpleStringify;
        }

    });
</script>