<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel='import' href="../../_styles/shared-input-style.html">
<link rel='import' href="../_styles/shared-drag-effect-style.html">
<link rel='import' href="../_styles/shared-dropzoneafter-style.html">

<link rel='import' href="../_behaviors/draggable-behavior.html">
<link rel='import' href="../_behaviors/dropafter-common-behavior.html">
<link rel='import' href="../_behaviors/context-menu-dropzoneafter-behavior.html">
<link rel='import' href="../_behaviors/context-menu-wholecomponent-behavior.html">
<link rel='import' href="../_behaviors/recursivestringify-flat-common-behavior.html">
<link rel='import' href="../_behaviors/alldelete-common-behavior.html">

<dom-module id="write-node">

    <style include="shared-input-style"></style>
    <style include="shared-drag-effect-style"></style>
    <style include="shared-dropzoneafter-style"></style>
    
    <template strip-whitespace>
        <div id="topMostDiv">
          <div id="surroundingDiv" on-down="handleDown" on-track="handleTrack" on-up="handleUp" class$="{{computeClass(isDragged)}}">
            <div id="contentDiv">
              
              <span>Write ( <input value="{{expression::input}}" placeholder="Expression or value"> )</span>

            </div>
          </div>
          
          <div id="dropZoneAfter"></div>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: "write-node",
        behaviors: [
          DraggableBehavior, DropAfterCommonBehavior, 
          ContextMenuDropZoneAfterBehavior, ContextMenuWholeComponentBehavior,
          RecursiveStringifyFlatCommonBehavior, AllDeleteCommonBehavior
        ],

        properties: {
          expression: { type: String, reflectToAttribute: true }
        },

        ready: function(){
          //Decodage des propiétés correspondantes aux champs input encodées pour protéger le XML
          if(this.expression != undefined){ this.expression = he.decode(this.expression); }
        },

        attached: function(){
          //Ceci permet de faire en sorte que tout les inputs texte se resizent en fonction du 
          //texte que l'on tappe dedans.
          let listOfInputs = this.querySelectorAll('input');
          for(let input of listOfInputs){
            autosizeInput(input);
          }
        },
        

        //Le simpleStringify traduit uniquement l'élément avec ses attributs en XML, PAS SES ENFANTS.
        simpleStringify: function(){
          let simpleStringify = `<write-node expression="${(he.encode(this.expression == undefined ? '' : this.expression))}"></write-node>`;
          return simpleStringify;
        }

    });
</script>