<link rel="import" href="root-el.html">

<link rel="import" href="commons/assignment-node.html">
<link rel="import" href="commons/comment-node.html">
<link rel="import" href="commons/vardecl-node.html">

<link rel="import" href="io/read-node.html">
<link rel="import" href="io/write-node.html">

<link rel='import' href="conditions/condition-node.html">
<link rel='import' href="conditions/else-separator.html">

<link rel="import" href="loops/loop-node.html">

<link rel="import" href="definitions/recdef-node.html">

<link rel="import" href="subprograms/functdecl-node.html">
<link rel="import" href="subprograms/procdecl-node.html">
<link rel="import" href="subprograms/functcall-node.html">
<link rel="import" href="subprograms/proccall-node.html">