<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel='import' href="_styles/shared-enclosure-el-style.html">

<link rel='import' href="_behaviors/dropafter-common-behavior.html">
<link rel='import' href="_behaviors/enclosure-el-behavior.html">
<link rel='import' href="_behaviors/context-menu-dropzoneinside-behavior.html">
<link rel='import' href="_behaviors/recursivestringify-incl-common-behavior.html">

<dom-module id="root-el">
    
    <style include="shared-enclosure-el-style"></style>
    <style>
        #rootDiv {
          padding-top: 15px;
        }
    </style>

    <template strip-whitespace>
        <div id="rootDiv">
          
            <!--////////// Enclosure element ///////////-->
            <div id="dropZone"></div>
            <div id="enclosureDiv">
            <content id="lightdom" select$="[[string-select]]"></content>
            </div>
            <!--////////////////////////////////////////-->
          
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: "root-el",
        behaviors: [
            DropAfterCommonBehavior, EnclosureElBehavior,
            ContextMenuDropZoneInsideBehavior,
            RecursiveStringifyInclCommonBehavior
        ],

        properties: {
          stringSelect: { type: String, reflectToAttribute: true, value: '' }
        },
        /*hostAttributes: {
          'string-select': ''
        },*/

        attached: function(){
          Polymer.dom.flush();
          //Ceci permet de resourdre le problème avec le select du <content>. En effet,
          //ce dernier ajoute les enfants avant de mettre le filtres en place.
          //Cette ligne permet donc de redistribuer (re-render) les enfants, ainsi
          //ils subiront enfin le filtrage
          this.distributeContent();
        },

        //Le simpleStringify traduit uniquement l'élément avec ses attributs en XML, PAS SES ENFANTS.
        simpleStringify: function(){
          let simpleStringify = `<root-el string-select="${(this.stringSelect == undefined ? '' : this.stringSelect)}"></root-el>`;
          return simpleStringify;
        }
    });
</script>