<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel='import' href="../_styles/shared-image-style.html">

<link rel='import' href="../_behaviors/dropper-drag-behavior.html">


<dom-module id="flat-vardecl-dropper">

    <style include="shared-image-style"></style>

    <template strip-whitespace>
        <div id="surroundingDiv" on-down="handleDown" on-track="handleTrack" on-up="handleUp" class$="{{computeClass(isDragged)}}">
            <img class="dropIcon" src="../../../images/nodescatalog/FlatVarDecl_1.3.svg"/>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: "flat-vardecl-dropper",
        behaviors: [DropperDragBehavior],

        properties: {
        },

        //Cette methode va être appelée par une méthode de DropperDragBehavior (template pattern)
        generateElement: function(){
            let newFlatVarDecl = $('<vardecl-node identity="variable"></vardecl-node>').get( 0 );
            return newFlatVarDecl;
        }
    });
</script>