<link rel="import" href="../../../bower_components/polymer/polymer.html">

<link rel='import' href="../_styles/shared-image-style.html">

<link rel='import' href="../_behaviors/dropper-drag-behavior.html">


<dom-module id="flat-read-dropper">

    <style include="shared-image-style"></style>

    <template strip-whitespace>
        <div id="surroundingDiv" on-down="handleDown" on-track="handleTrack" on-up="handleUp" class$="{{computeClass(isDragged)}}">
            <img class="dropIcon" src="../../../images/nodescatalog/FlatRead_1.3.svg"/>
        </div>
    </template>

</dom-module>

<script>
    Polymer({
        is: "flat-read-dropper",
        behaviors: [DropperDragBehavior],

        properties: {
        },

        generateElement: function(){
            let newFlatRead = $('<read-node></read-node>').get( 0 );
            return newFlatRead;
        }
    });
</script>